# atmosphere validation
Validate atmosphere model in function [atmosphere_model.m](atmosphere_model.m). 

# test script
[test_script_atmosphere.m](test_script_atmosphere.m) 

# test results
Test results are provided as expected/actual

| alt, m | T, K                | P, Pa   | ρ, kg/m^3 | a, m/s  |
| ------ | ------------------- | ------- | --------- | ------- |
| 2006   | (expected)/(actual) | .../... | .../...   | .../... |
|        |                     |         |           |         |
|        |                     |         |           |         |
# discussion
If applicable, discuss any significant discrepancies. Otherwise, state that the function provided the answers you expected. 

# discussion
Ideally: Explicitly state that all results matched expectations. 

If that's not true, the best approach is to make it true (fix your errors). 

If you can't, at least point out your errors. 

# external validation
Justify your expectations with enough detail that another engineer can recreate them. Usually this is with hand calculations. If another resource was authorized for this assignment (a website), provide enough information to access the correct information (the explicit link and/or inputs). 

# USAFA documentation statement